body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 54%, 90%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 500px;
  height: 1500px;
  border-radius: 20px;
}

.container img {
  width: 400px;
  height: 200px;
  border-radius: 20px;
}

.container .prep-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
  width: 450px;
  height: 175px;
}

.prep-time .prep-time-heading {
  color: hsl(332, 51%, 32%);
}

.prep-time li::marker {
  color:hsl(332, 51%, 32%);
}

h2 {
  color: hsl(14, 45%, 36%);
}

.ul-list li::marker {
  color: hsl(14, 45%, 36%);
}

.ol-list li::marker {
  color: hsl(14, 45%, 36%);
}

.parent {
  display: flex;
  flex-direction: row;
}

.child1 ul {
  width: 50%;
  list-style-type: none;
  padding: 20px;
}

.child2 ul {
  width: 50%;
  list-style-type: none;
  padding: 20px;
  color: hsl(14, 45%, 36%);
}

